<clr-wizard #wizard
  [clrWizardOpen]="true"
  [(clrWizardOpen)]="open"
            [clrWizardClosable]="isAuthenticated && isAplosLinked">
  <clr-wizard-title>PEX Connector for Aplos</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page *ngIf="!isAuthenticated"
                   [clrWizardPageNextDisabled]="true">

    <ng-template clrPageNavTitle>Connect to PEX</ng-template>
    <ng-template clrPageTitle>Connect to PEX</ng-template>

    <p>
      In order to create a connection between PEX and Aplos, you must first
      authenticate using your PEX log in credentials. Click the button
      below to launch a PEX login window and enter your PEX username &amp; password.
    </p>

    <button class="btn btn-primary" (click)="onAuthenticateWithPex()">
      LOG IN TO YOUR PEX ACCOUNT
    </button>

    <p>
      If you do not currently have a PEX account, click the button below to
      apply.
    </p>
    <button class="btn btn-outline" (click)="onApply()">
      APPLY FOR A PEX ACCOUNT
    </button>
  </clr-wizard-page>

  <clr-wizard-page *ngIf="isAuthenticated && !isPexAccountLinked && !isFirstInstalation"
    [clrWizardPageNextDisabled]="true"
    (clrWizardPageOnCancel)="preventCancel()">

    <ng-template clrPageNavTitle>Connect to PEX</ng-template>
    <ng-template clrPageTitle>Connect to PEX</ng-template>

    <p>{{businessName}} is currently logged in as {{pexAdminEmailAccount}}. Click the button below to switch to your PEX credentials.</p>
    <p></p>
    <app-loading-placeholder [loadingState]="verifyingPexAuthentication" [errorState]="false"></app-loading-placeholder>
    <button class="btn btn-primary" (click)="onUseCurrentPexAccount()" *ngIf="!verifyingPexAuthentication">USE MY PEX CREDENTIALS</button>
  </clr-wizard-page>

  <clr-wizard-page (clrWizardPageOnCommit)="onAplosCredentialsCommit()"
                   *ngIf="isAuthenticated && (settingsModel.aplosAuthenticationMode === 0 || (aplosAuthenticationStatus && !aplosAuthenticationStatus.isAuthenticated))"
    (clrWizardPageOnCancel)="onCloseWizard()"
    [clrWizardPageNextDisabled]="!aplosServiceAccountForm.valid
                   || (aplosAuthenticationStatus && aplosAuthenticationStatus.partnerVerificationUrl) || (aplosAuthenticationStatus && !aplosAuthenticationStatus.isAuthenticated)">

    <ng-template clrPageNavTitle>Connect to Aplos</ng-template>
    <ng-template clrPageTitle>Connect to Aplos</ng-template>

    <app-loading-placeholder
      [loadingState]="savingAplosCredentials"
      [errorState]="errorSavingAplosCredentials"
      errorText="We were unable to connect to Aplos with the information you provided."
                             [allowRetry]="false"></app-loading-placeholder>

    <form clrForm
      #aplosServiceAccountForm="ngForm"
          [class.hide]="!savingAplosCredentials">
      <div *ngIf="aplosAuthenticationStatus && aplosAuthenticationStatus.aplosAuthenticationMode === 0">
        <p>
          To obtain a client id, you must have an Aplos account and a user with administrative permissions.

          Assuming you have these, you can generate a client id and key pair from the <a href="https://www.aplos.com/aws/sm">settings</a> page.
        </p>
        <clr-input-container>
          <label>Client ID</label>
          <input clrInput
            required
            placeholder=""
            name="aplosClientId"
            [(ngModel)]="settingsModel.aplosClientId"
            style="width: 500px" />
          <clr-control-error>You must enter a Client ID</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Private Key</label>
          <input clrInput
            required
            placeholder=""
            name="aplosPrivateKey"
            style="width: 500px"
            [(ngModel)]="settingsModel.aplosPrivateKey" />
          <clr-control-error>You must enter a Private Key</clr-control-error>
        </clr-input-container>
      </div>

      <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false" *ngIf="aplosAuthenticationStatus && !aplosAuthenticationStatus.hasAplosAccountId">
        <clr-alert-item>
          <span class="alert-text">
            Sorry, we don't seem to have your Aplos customer ID on file so can't connect your PEX account to Aplos.
            <br /><br />
            Please contact <a href="https://www.aplos.com/support/">Aplos Support</a> and ask that your customer ID be sent to PEX. Once we have it, we'll contact you so that you know when you're able to complete the account linking process.
          </span>
        </clr-alert-item>
      </clr-alert>

      <div *ngIf="aplosAuthenticationStatus && aplosAuthenticationStatus.partnerVerificationUrl">
        <p>
          Click the button below to connect PEX with your Aplos account.
        </p>

        <p></p>

        <app-loading-placeholder [loadingState]="verifyingAplosAuthentication"
                                 [errorState]="false"></app-loading-placeholder>

        <clr-spinner *ngIf="redirectingToAplosAuth">
            Saving...
        </clr-spinner>

        <div class="clr-row clr-justify-content-around" *ngIf="!verifyingAplosAuthentication && !redirectingToAplosAuth">
          <div class="clr-col-6">
            <button type="button" class="btn btn-primary " aria-label="add" (click)="onAplosPartnerVerification()">
              <cds-icon shape="link" size="36"></cds-icon>
              <span>Connect to Aplos</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </clr-wizard-page>

  <clr-wizard-page
    *ngIf="isAuthenticated"
    (clrWizardPageOnCommit)="onSettingsCommit()"
    (clrWizardPageOnCancel)="onCloseWizard()"
    [clrWizardPageNextDisabled]="!optionsForm.valid
                   || ((settingsModel.syncTransactions || settingsModel.syncTransfers || settingsModel.syncInvoices || settingsModel.syncPexFees || settingsModel.syncReimbursements) && !settingsModel.aplosRegisterAccountNumber)
                   || ((settingsModel.syncTransactions || settingsModel.syncTransfers || settingsModel.syncInvoices || settingsModel.syncPexFees || settingsModel.syncReimbursements) && !settingsModel.earliestTransactionDateToSync)">

    <ng-template clrPageNavTitle>Sync Selection</ng-template>
    <ng-template clrPageTitle>Choose what to sync</ng-template>

    <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false" *ngIf="!hasTagsAvailable">
      <clr-alert-item>
        <span class="alert-text">Your PEX account does not support Tags. To enable this feature for integration with Aplos, please contact <a href="email:adminsupport&#64;pexcard.com">adminsupport&#64;pexcard.com</a>.</span>
      </clr-alert-item>
    </clr-alert>

    <clr-spinner *ngIf="savingSettings">
      Saving...
    </clr-spinner>

    <form clrForm #optionsForm="ngForm" [class.hide]="!savingSettings">
      <clr-toggle-wrapper *ngIf="isPrepaid">
        <input
          type="checkbox"
          clrToggle
          name="syncTransactions"
          [(ngModel)]="settingsModel.syncTransactions"
          (change)="onSyncTransactionChange()"/>
        <label>Automatically import
          <div *ngIf="settingsModel.syncTransactions" class="clr-select-wrapper">
            <select
                id="syncApprovedOnly"
                class="clr-select"
                [(ngModel)]="settingsModel.syncApprovedOnly"
                name="syncApprovedOnly">
              <option value="true">approved</option>
              <option value="false">all</option>
            </select>
          </div>
          PEX purchases into Aplos.
        </label>
      </clr-toggle-wrapper>

      <clr-toggle-wrapper *ngIf="isPrepaid">
        <input
          type="checkbox"
          clrToggle
          name="syncTransfers"
               [(ngModel)]="settingsModel.syncTransfers" />
        <label>Automatically import PEX transfers into Aplos.</label>
      </clr-toggle-wrapper>

      <clr-toggle-wrapper  *ngIf="isPrepaid">
        <input
          type="checkbox"
          clrToggle
          name="syncPexFees"
               [(ngModel)]="settingsModel.syncPexFees" />
        <label>
          Automatically import Fees into Aplos.
        </label>
      </clr-toggle-wrapper>

      <clr-toggle-wrapper *ngIf="isPrepaid && settingsModel.syncTransactions">
        <input
          type="checkbox"
          clrToggle
          name="syncRebates"
          [(ngModel)]="settingsModel.syncRebates"
        />
        <label>
          Automatically import Rebates into Aplos.
        </label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper *ngIf="isCredit">
        <input
          type="checkbox"
          clrToggle
          name="syncTransactions"
          [(ngModel)]="settingsModel.syncTransactions"
          (change)="onSyncTransactionChange()"/>
        <label>Automatically import
          <div *ngIf="settingsModel.syncTransactions" class="clr-select-wrapper">
            <select
                id="syncApprovedOnlyCredit"
                class="clr-select"
                [(ngModel)]="settingsModel.syncApprovedOnly"
                name="syncApprovedOnlyCredit">
              <option value="true">approved</option>
              <option value="false">all</option>
            </select>
          </div>
          PEX purchases into Aplos.
        </label>
      </clr-toggle-wrapper>

      <clr-toggle-wrapper *ngIf="isCredit">
        <input
          type="checkbox"
          clrToggle
          name="syncPexFees"
          [(ngModel)]="settingsModel.syncPexFees"/>
        <label>Automatically import Fees into Aplos.</label>
      </clr-toggle-wrapper>

      <clr-toggle-wrapper *ngIf="isCredit">
        <input
          type="checkbox"
          clrToggle
          name="syncInvoices"
          [(ngModel)]="settingsModel.syncInvoices"
          [disabled]="!settingsModel.syncTransactions"/>
        <label>Automatically import bill payments and rebates into Aplos.</label>
      </clr-toggle-wrapper>

      <clr-toggle-wrapper *ngIf="settingsModel.syncTransactions">
        <input
          type="checkbox"
          clrToggle
          name="syncReimbursements"
          [(ngModel)]="settingsModel.syncReimbursements" />
        <label>Automatically import Reimbursements into Aplos. <span class="badge-new">New</span></label>
      </clr-toggle-wrapper>

      <hr />

      <clr-toggle-wrapper>
        <input
          type="checkbox"
          clrToggle
          name="syncTaxTagToPex"
               [(ngModel)]="settingsModel.syncTaxTagToPex" />
        <label>
          Sync 990 Tag.
          <clr-tooltip>
            <cds-icon clrTooltipTrigger shape="info-circle" size="20"></cds-icon>
            <clr-tooltip-content clrPosition="bottom-right" clrSize="lg" *clrIfOpen>
                <span>Please make sure you have 990 tag enabled in Aplos. Otherwise, your transactions will not sync.</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </label>
      </clr-toggle-wrapper>

      <hr *ngIf="settingsModel.syncTransactions || settingsModel.syncTransfers || settingsModel.syncInvoices || settingsModel.syncPexFees || settingsModel.syncReimbursements" />

      <div class="card" *ngIf="settingsModel.syncTransactions || settingsModel.syncTransfers || settingsModel.syncInvoices || settingsModel.syncPexFees || settingsModel.syncReimbursements">
        <div class="card-block">
          <app-loading-placeholder
            [loadingState]="loadingAplosAccounts"
            [errorState]="errorLoadingAplosAccounts"
                                   (retry)="getBankAccounts()"></app-loading-placeholder>

          <div class="card-text">
            Please choose an account you have set up to represent your PEX funds:
            <div class="clr-select-wrapper">

              <select *ngIf="isPrepaid"
                id="aplosRegisterAccountNumber"
                class="clr-select"
                [(ngModel)]="settingsModel.aplosRegisterAccountNumber"
                name="aplosRegisterAccountNumber">
                <option></option>
                <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosAssetAccounts">{{aplosAccount | aplosAccount}}</option>
              </select>

              <select *ngIf="isCredit"
                id="aplosRegisterAccountNumber"
                class="clr-select"
                [(ngModel)]="settingsModel.aplosRegisterAccountNumber"
                name="aplosRegisterAccountNumber">
                <option></option>
                <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosLiabilityAccounts">{{aplosAccount | aplosAccount}}</option>
              </select>

            </div>
            <p>
              <strong>Tip:</strong> Consider creating a new account in Aplos called 'PEX' if you would like to book all of your PEX purchases against a single account.
            </p>
          </div>
        </div>
      </div>

      <p></p>
      <p></p>

      <div class="clr-row" *ngIf="settingsModel.syncTransactions || settingsModel.syncTransfers || settingsModel.syncInvoices || settingsModel.syncPexFees || settingsModel.syncReimbursements">
        <div class="clr-col">
          Please specify a start date for the sync. Transactions made prior to this date will not be imported into Aplos. All transactions after this date will be imported automatically.
          <clr-date-container>
            <label>Start date</label>
            <input
              type="date"
              clrDate
              name="earliestTransactionDateToSync"
              [(ngModel)]="settingsModel.earliestTransactionDateToSync">
          </clr-date-container>
          <clr-radio-container clrInline>
            <label>Post Date</label>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="postDateType" [value]="postDateTypeSettlement" [(ngModel)]="settingsModel.postDateType" required />
              <label>Settlement Time</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="postDateType" [value]="postDateTypeTransaction" [(ngModel)]="settingsModel.postDateType" required />
              <label>Transaction Time</label>
            </clr-radio-wrapper>
            <clr-control-error>A post date type is required.</clr-control-error>
          </clr-radio-container>
        </div>
      </div>

    </form>

  </clr-wizard-page>

  <clr-wizard-page *ngIf="isPexAccountLinked && aplosAuthenticationStatus?.hasAplosAccountId && (settingsModel?.syncTransactions || settingsModel?.syncInvoices)"
                   [clrWizardPageNextDisabled]="!settingsModel.syncTransactionsCreateContact && !(settingsModel.defaultAplosContactId > 0)"
                   (clrWizardPageOnCommit)="onVendorCommit()">

    <ng-template clrPageNavTitle>Contact Options</ng-template>
    <ng-template clrPageTitle>Configure contact sync options</ng-template>

    <app-loading-placeholder *ngIf="loadingAplosContacts" [loadingState]="loadingAplosContacts" [errorState]="errorLoadingAplosContacts" (retry)="getContacts()"></app-loading-placeholder>

    <form clrForm #vendorForm="ngForm" [class.hide]="!savingSettings || loadingVendors">
      <clr-radio-container>
        <clr-radio-wrapper>
          <input type="radio" clrRadio required name="syncTransactionsCreateContact" [value]="false" [(ngModel)]="settingsModel.syncTransactionsCreateContact" />
          <label>
            <span>Use a single contact for your expenses </span>
            <div *ngIf="!settingsModel.syncTransactionsCreateContact" class="clr-select-wrapper">
              <select id="select-full-vendor"
                      class="clr-select"
                      name="defaultAplosContactId"
                      [(ngModel)]="settingsModel.defaultAplosContactId">
                <option [value]="vendor.id" *ngFor="let vendor of aplosContacts">{{vendor.name}}</option>
              </select>
            </div>
          </label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio required name="syncTransactionsCreateContact" [value]="true" [(ngModel)]="settingsModel.syncTransactionsCreateContact" />
          <label>Create a contact for each unique merchant</label>
        </clr-radio-wrapper>
        <clr-control-helper *ngIf="!settingsModel.syncTransactionsCreateContact" class="single-vendor-help"><strong>Tip:</strong> Consider creating a new contact in Aplos called 'PEX' to book PEX purchases with a single contact</clr-control-helper>
      </clr-radio-container>
      <clr-checkbox-container *ngIf="settingsModel.syncTransactionsCreateContact" class="normalized-vendors">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="useNormalizedMerchantNames" [value]="true" [(ngModel)]="settingsModel.useNormalizedMerchantNames" />
          <label>Use standardized merchant names</label>
        </clr-checkbox-wrapper>
        <clr-control-helper class="normalized-vendors-help"><strong>Example:</strong> "Target" instead of "Target #0973226"</clr-control-helper>
      </clr-checkbox-container>
    </form>

    <clr-spinner *ngIf="savingSettings">
      Saving...
    </clr-spinner>

  </clr-wizard-page>

  <clr-wizard-page
    *ngIf="isAuthenticated && (settingsModel.syncTransactions || settingsModel.syncReimbursements) && hasTagsAvailable"
    (clrWizardPageOnCommit)="onTagMappingCommit()"
    (clrWizardPageOnCancel)="onCloseWizard()"
    [clrWizardPageNextDisabled]="! aplosFieldMappingForm.valid
                   || !expenseAccountForm.valid
                   || (this.aplosTagCategories.length > 0 && !tagMappingForm.valid)">

    <ng-template clrPageNavTitle>Purchases and Reimbursements</ng-template>
    <ng-template clrPageTitle>Configure tag mapping options</ng-template>

    <clr-spinner *ngIf="savingSettings">
      Saving...
    </clr-spinner>

    <form clrForm #aplosFieldMappingForm="ngForm" [class.hide]="!savingSettings">

      <ul class="circle-list">
        <li><p class="display-inline">Map each Aplos field to a PEX tag. Only dropdown tags can be mapped.</p></li>
        <li><p class="display-inline">Enable the sync toggle for fields you want to sync as tag values.</p></li>
        <li><p class="display-inline">Optionally, set a default value — applied to purchases and reimbursements when a transaction isn't tagged before syncing.</p></li>
      </ul>

      <table class="table table-5col">
        <caption>Fund</caption>
        <thead>
          <tr>
            <th class="left">Field</th>
            <th class="left">Sync</th>
            <th class="left">PEX Tag</th>
            <th *ngIf="isPrepaid" class="left">Default</th>
            <th class="clr-col-1"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="left">Fund</td>
            <td class="clr-col-1">
              <clr-toggle-wrapper>
                <input type="checkbox"
                       clrToggle
                       name="syncFundsToPex"
                       [disabled]="! settingsModel.pexFundsTagId > 0"
                       [(ngModel)]="settingsModel.syncFundsToPex" />
              </clr-toggle-wrapper>
            </td>
            <td class="left">
              <div class="clr-select-wrapper">
                <select id="pexFundsTagId"
                        class="clr-select clr-col-12"
                        name="pexFundsTagId"
                        required
                        [(ngModel)]="settingsModel.pexFundsTagId">
                  <option></option>
                  <option [value]="tag.id" *ngFor="let tag of getDropDownTags()">{{tag.name}}</option>
                </select>
              </div>
            </td>
            <td *ngIf="isPrepaid" class="left">
              <div class="clr-select-wrapper">
                <select id="defaultAplosFundId"
                        class="clr-select select clr-col-12"
                        name="defaultAplosFundId"
                        [(ngModel)]="settingsModel.defaultAplosFundId">
                  <option [value]="0"></option>
                  <option [value]="aplosFund.id" *ngFor="let aplosFund of aplosFunds">{{aplosFund.name}}</option>
                </select>
              </div>
            </td>
            <td class="clr-col-1"></td>
          </tr>
        </tbody>
      </table>
    </form>
    <form clrForm [formGroup]="expenseAccountForm" [class.hide]="!savingSettings">
      <p>
        Map your Aplos expense account to a PEX tag. Use the <cds-icon shape="plus" size="18"></cds-icon> button on each row to add more mappings.
      </p>
      <table class="table table-5col">
        <caption>Expense Account</caption>
        <thead>
          <tr>
            <th class="left">Field</th>
            <!-- Syncing is only supported for a single mapping: the nightly sync pushes
                 the FULL Aplos expense account list into every enabled PEX tag, which
                 would overwrite curated per-tag option lists in multi-tag setups.
                 The column itself always renders to keep table-5col fixed widths stable. -->
            <th class="left"><ng-container *ngIf="getExpenseAccountFormElements().length === 1">Sync</ng-container></th>
            <th class="left">PEX Tag</th>
            <th class="left">Default</th>
            <th></th>
          </tr>
        </thead>

        <tbody formArrayName="expenseAccounts">
          <tr *ngFor="let expenseAccount of getExpenseAccountFormElements().controls; let i = index" [formGroupName]="i">
            <td class="left">Account</td>
            <td>
              <clr-toggle-wrapper *ngIf="getExpenseAccountFormElements().length === 1">
                <input type="checkbox"
                       formControlName="syncExpenseAccountToPex"
                       clrToggle />
              </clr-toggle-wrapper>
            </td>
            <td class="left">
              <div class="clr-select-wrapper">
                <select class="clr-select clr-col-12"
                        required
                        formControlName="expenseAccount">
                  <option></option>
                  <option [value]="tag.id" *ngFor="let tag of getDropDownTags()">{{tag.name}}</option>
                </select>
              </div>
            </td>
            <td class="left">
              <div class="clr-select-wrapper">
                <select class="clr-select select clr-col-12"
                        formControlName="defaultAplosTransactionAccountNumber">
                  <option [value]="0"></option>
                  <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosExpenseAccounts">{{aplosAccount.name}}</option>
                </select>
              </div>
            </td>
            <td>
              <div class="table-row-actions">
                <button type="button" class="btn btn-outline btn-sm btn-icon" aria-label="add" (click)="addExpenseAccountElement()">
                  <cds-icon shape="plus" size="16"></cds-icon>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-icon" aria-label="delete" (click)="deleteExpenseAccountElement(i)" *ngIf="this.getExpenseAccountFormElements().length > 1">
                  <cds-icon shape="trash" size="16"></cds-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div *ngIf="this.aplosTagCategories.length > 0">
      <form clrForm [formGroup]="tagMappingForm" [class.hide]="!savingSettings">
        <table class="table table-5col">
          <caption>Tags</caption>
          <thead>
            <tr>
              <th class="left">Field</th>
              <th class="left">Sync</th>
              <th class="left">PEX Tag</th>
              <th class="left">Default</th>
              <th></th>
            </tr>
          </thead>
          <tbody formArrayName="tagMappings">
            <tr *ngFor="let tagMapping of getTagMappingFormElements().controls; let i = index" [formGroupName]="i">
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select clr-col-12" formControlName="aplosTag" (change)="onAplosCategoryChange(i)">
                    <option></option>
                    <option [value]="tag.id" *ngFor="let tag of aplosTagCategories">{{tag.name}}</option>
                    <option *ngIf="settingsModel.syncTaxTagToPex" value="990">990</option>
                  </select>
                </div>
              </td>
              <td class="clr-col-1">
                <clr-toggle-wrapper>
                  <input type="checkbox" formControlName="syncToPex" clrToggle />
                </clr-toggle-wrapper>
              </td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select clr-col-12"
                          formControlName="pexTag">
                    <option></option>
                    <option [value]="tag.id" *ngFor="let tag of getDropDownTags()">{{tag.name}}</option>
                  </select>
                </div>
              </td>
              <td *ngIf="tagMapping.value.aplosTag == '990'" class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select clr-col-12"
                          formControlName="defaultAplosTag">
                    <option></option>
                    <optgroup  *ngFor="let aplosTaxTagCategory of aplosTaxTagCategories" label="{{aplosTaxTagCategory.name}}">
                      <option  [value]="aplosTaxTag.id" *ngFor="let aplosTaxTag of aplosTaxTagCategory.tax_tags">{{aplosTaxTag.name}} - {{aplosTaxTag.group_name}}</option>
                    </optgroup>
                  </select>
                </div>
              </td>
              <td *ngIf="tagMapping.value.aplosTag != '990'" class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select clr-col-12"
                          formControlName="defaultAplosTag">
                    <option></option>
                    <option [value]="aplosTag.id"
                      *ngFor="let aplosTag of aplosTags[tagMapping.value.aplosTag]">
                      {{aplosTag.name}}
                    </option>
                  </select>
                </div>
              </td>
              <td>
                <div class="table-row-actions">
                  <button type="button" class="btn btn-outline btn-sm btn-icon" aria-label="add" (click)="addTagMappingElement()">
                    <cds-icon shape="plus" size="16"></cds-icon>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm btn-icon" aria-label="delete" (click)="deleteTagMappingElement(i)" *ngIf="getTagMappingFormElements().length > 1">
                    <cds-icon shape="trash" size="16"></cds-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <p>
      * denotes a required tag in PEX
    </p>
  </clr-wizard-page>

  <clr-wizard-page
      *ngIf="isAuthenticated && (settingsModel.syncTransfers || settingsModel.syncInvoices || settingsModel.syncPexFees || settingsModel.syncRebates || settingsModel.syncReimbursements)"
      (clrWizardPageOnLoad)="updateOtherOptionsValidators()"
      (clrWizardPageOnCommit)="onDefaultCategoryCommit()"
      (clrWizardPageOnCancel)="onCloseWizard()"
      [clrWizardPageNextDisabled]="!defaultCategoryForm.valid
        || (settingsModel.syncReimbursements
            && !defaultCategoryForm.get('syncReimbursementsCreateContact').value
            && !(defaultCategoryForm.get('reimbursementsAplosContactId').value > 0))">

    <ng-template clrPageNavTitle>Other Options</ng-template>
    <ng-template  clrPageTitle>
      <span *ngIf="isPrepaid">Configure options for transfers, fees, rebates and reimbursements</span>
      <span *ngIf="isCredit">Configure options for bill payments, fees, rebates and reimbursements</span>
    </ng-template>

    <h5 *ngIf="isPrepaid">Please choose the following items when importing Transfers, Fees, Rebates and Reimbursements into Aplos</h5>
    <h5 *ngIf="isCredit">Please choose the following items when importing Bill Payments, Fees, Rebates and Reimbursements into Aplos</h5>

    <app-loading-placeholder
    [loadingState]="loadingExpenseCategories"
    [errorState]="errorLoadingExpenseCategories"
                             (retry)="getExpenseCategories()"></app-loading-placeholder>

    <clr-spinner *ngIf="savingSettings">
        Saving...
    </clr-spinner>

    <form clrForm [formGroup]="defaultCategoryForm" [class.hide]="!savingSettings">

      <!-- Purchases -->
      <table class="table table-2col" *ngIf="!hasTagsAvailable  && settingsModel.syncTransactions">
        <caption>Purchases</caption>
        <thead>
          <tr>
            <th class="left">Field</th>
            <th class="left">Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left">Fund</td>
            <td class="left">
              <div class="clr-select-wrapper">
                  <select
                    id="defaultAplosFundId"
                    class="clr-select select"
                    name="defaultAplosFundId"
                    required
                    formControlName="defaultAplosFundId">
                  <option></option>
                  <option [value]="aplosFund.id" *ngFor="let aplosFund of aplosFunds">{{aplosFund.name}}</option>
                  </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="left">Transaction Account</td>
            <td class="left">
              <div class="clr-select-wrapper">
                <select
                  id="defaultAplosTransactionAccountNumber"
                  class="clr-select select"
                  name="defaultAplosTransactionAccountNumber"
                  required
                  formControlName="defaultAplosTransactionAccountNumber">
                  <option></option>
                  <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosExpenseAccounts">{{aplosAccount | aplosAccount}}</option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Transfers / Bill payments -->
      <div *ngIf="settingsModel.syncTransfers || settingsModel.syncInvoices">

        <table class="table table-2col">
          <caption>
            <h4 *ngIf="isPrepaid">Transfers</h4>
            <h4 *ngIf="isCredit">Bill Payments</h4>
          </caption>

          <thead>
            <tr>
              <th class="left ">Field</th>
              <th class="left">Default</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="left ">
                <span *ngIf="isPrepaid">Contact</span>
                <span *ngIf="isCredit">Payee</span>
              </td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                      id="transfersAplosContactId"
                      class="clr-select select"
                      name="transfersAplosContactId"
                      required
                      formControlName="transfersAplosContactId">
                    <option></option>
                    <option [value]="aplosContact.id" *ngFor="let aplosContact of aplosContacts">{{aplosContact.name}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr *ngIf="isPrepaid">
              <td class="left">Fund</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                      id="transfersAplosFundId"
                      class="clr-select select"
                      name="transfersAplosFundId"
                      required
                      formControlName="transfersAplosFundId">
                    <option></option>
                    <option [value]="aplosFund.id" *ngFor="let aplosFund of aplosFunds">{{aplosFund.name}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td class="left">Bank Account</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                    id="transfersAplosTransactionAccountNumber"
                    class="clr-select select"
                    name="transfersAplosTransactionAccountNumber"
                    required
                    formControlName="transfersAplosTransactionAccountNumber">
                  <option></option>
                  <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosAssetAccounts">{{aplosAccount | aplosAccount}}</option>
                </select>
                </div>
              </td>
            </tr>
            <tr>

          </tbody>
        </table>

        <table class="table table-2col table-no-top-margin">
          <caption class="left caption-border">
            <span *ngIf="isPrepaid">Transfer tags default values</span>
            <span *ngIf="isCredit">Bill payment tags default values</span>
          </caption>
          <tbody formArrayName="transferTagMappings">
            <tr *ngFor="let tagMapping of getTransferTagMappingFormElements().controls; let i = index" [formGroupName]="i">
              <td class="left">{{tagMapping.get('aplosTagCategoryName')?.value}}</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select" formControlName="defaultAplosTagValue">
                    <option value=""></option>
                    <option [value]="tagValue.id" *ngFor="let tagValue of getTagValuesForCategory(tagMapping.get('aplosTagCategoryId')?.value)">
                      {{tagValue.name}}
                    </option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Fees -->
      <div *ngIf="settingsModel.syncPexFees">

        <table class="table table-2col">
          <caption>
            <h4>Fees</h4>
          </caption>
          <thead>
            <tr>
              <th class="left ">Field</th>
              <th class="left">Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="left ">Contact</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                    id="pexFeesAplosContactId"
                    class="clr-select select"
                    name="pexFeesAplosContactId"
                    required
                    formControlName="pexFeesAplosContactId">
                    <option></option>
                    <option [value]="aplosContact.id" *ngFor="let aplosContact of aplosContacts">{{aplosContact.name}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td class="left">Fund</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                    id="pexFeesAplosFundId"
                    class="clr-select select"
                    name="pexFeesAplosFundId"
                    required
                    formControlName="pexFeesAplosFundId">
                    <option></option>
                    <option [value]="aplosFund.id" *ngFor="let aplosFund of aplosFunds">{{aplosFund.name}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td class="left">Account</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                    id="pexFeesAplosTransactionAccountNumber"
                    class="clr-select select"
                    name="pexFeesAplosTransactionAccountNumber"
                    required
                    formControlName="pexFeesAplosTransactionAccountNumber">
                    <option></option>
                    <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosExpenseAccounts">{{aplosAccount | aplosAccount}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr *ngIf="settingsModel.syncTaxTagToPex">
              <td class="left">990 Tag Option</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                    id="pexFeesAplosTaxTag"
                    class="clr-select select clr-col-12"
                    name="pexFeesAplosTaxTag"
                    required
                    formControlName="pexFeesAplosTaxTag">
                    <option></option>
                    <optgroup  *ngFor="let aplosTaxTagCategory of aplosTaxTagCategories" label="{{aplosTaxTagCategory.name}}">
                      <option  [value]="aplosTaxTag.id" *ngFor="let aplosTaxTag of aplosTaxTagCategory.tax_tags">{{aplosTaxTag.name}} - {{aplosTaxTag.group_name}}</option>
                    </optgroup>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-2col table-no-top-margin">
          <caption class="caption-border">Fee tags default values</caption>
          <tbody formArrayName="feeTagMappings">
            <tr *ngFor="let tagMapping of getFeeTagMappingFormElements().controls; let i = index" [formGroupName]="i">
              <td class="left">{{tagMapping.get('aplosTagCategoryName')?.value}}</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select" formControlName="defaultAplosTagValue">
                    <option value=""></option>
                    <option [value]="tagValue.id" *ngFor="let tagValue of getTagValuesForCategory(tagMapping.get('aplosTagCategoryId')?.value)">
                      {{tagValue.name}}
                    </option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Rebates -->
      <div *ngIf="(settingsModel.syncTransactions && settingsModel.syncRebates) || settingsModel.syncInvoices">

        <table class="table table-2col">
          <caption>
            <h4>Rebates</h4>
          </caption>
          <thead>
            <tr>
              <th class="left ">Field</th>
              <th class="left">Default</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isPrepaid">
              <td class="left ">Contact</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                      id="pexRebatesAplosContactId"
                      class="clr-select select"
                      name="pexRebatesAplosContactId"
                      required
                      formControlName="pexRebatesAplosContactId">
                    <option></option>
                    <option [value]="aplosContact.id" *ngFor="let aplosContact of aplosContacts">{{aplosContact.name}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr *ngIf="isPrepaid || (isCredit && invoiceMethodRequiresRebateFund)">
              <td class="left">Fund</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                      id="pexRebatesAplosFundId"
                      class="clr-select select"
                      name="pexRebatesAplosFundId"
                      required
                      formControlName="pexRebatesAplosFundId">
                    <option></option>
                    <option [value]="aplosFund.id" *ngFor="let aplosFund of aplosFunds">{{aplosFund.name}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td class="left">Account</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                      id="pexRebatesAplosTransactionAccountNumber"
                      class="clr-select select"
                      name="pexRebatesAplosTransactionAccountNumber"
                      required
                      formControlName="pexRebatesAplosTransactionAccountNumber">
                    <option></option>
                    <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosIncomeAccounts">{{aplosAccount | aplosAccount}}</option>
                    <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosExpenseAccounts">{{aplosAccount | aplosAccount}}</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr *ngIf="settingsModel.syncTaxTagToPex">
              <td class="left">990 Tag Option</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select
                    id="pexRebatesAplosTaxTag"
                    class="clr-select select clr-col-12"
                    name="pexRebatesAplosTaxTag"
                    required
                    formControlName="pexRebatesAplosTaxTag">
                    <option></option>
                    <optgroup  *ngFor="let aplosTaxTagCategory of aplosTaxTagCategories" label="{{aplosTaxTagCategory.name}}">
                      <option  [value]="aplosTaxTag.id" *ngFor="let aplosTaxTag of aplosTaxTagCategory.tax_tags">{{aplosTaxTag.name}} - {{aplosTaxTag.group_name}}</option>
                    </optgroup>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-2col table-no-top-margin">
          <caption class="caption-border">Rebate tags default values</caption>
          <tbody formArrayName="rebateTagMappings">
            <tr *ngFor="let tagMapping of getRebateTagMappingFormElements().controls; let i = index" [formGroupName]="i">
              <td class="left">{{tagMapping.get('aplosTagCategoryName')?.value}}</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select" formControlName="defaultAplosTagValue">
                    <option value=""></option>
                    <option [value]="tagValue.id" *ngFor="let tagValue of getTagValuesForCategory(tagMapping.get('aplosTagCategoryId')?.value)">
                      {{tagValue.name}}
                    </option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Reimbursements -->
      <div *ngIf="settingsModel.syncReimbursements">

        <table class="table table-2col">
          <caption>
            <h4>Reimbursements</h4>
          </caption>
          <thead>
            <tr>
              <th class="left">Field</th>
              <th class="left">Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="left contact-mapping-cell" colspan="2">
                <div class="contact-mapping-box">
                  <h5 class="contact-mapping-label">Contact mapping</h5>
                  <clr-radio-container>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio [value]="false" formControlName="syncReimbursementsCreateContact" />
                      <label>
                        Use a single contact
                        <span *ngIf="!defaultCategoryForm.get('syncReimbursementsCreateContact')?.value" class="inline-select">
                          <div class="clr-select-wrapper">
                            <select class="clr-select select" formControlName="reimbursementsAplosContactId" aria-label="Contact for reimbursements">
                              <option></option>
                              <option [value]="aplosContact.id" *ngFor="let aplosContact of aplosContacts">{{aplosContact.name}}</option>
                            </select>
                          </div>
                        </span>
                      </label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio [value]="true" formControlName="syncReimbursementsCreateContact" />
                      <label>Create a contact for each employee</label>
                    </clr-radio-wrapper>
                  </clr-radio-container>
                </div>
              </td>
            </tr>
            <tr>
              <td class="left">Fund</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select select" required formControlName="reimbursementsAplosFundId" aria-label="Fund for reimbursements">
                    <option></option>
                    <option [value]="aplosFund.id" *ngFor="let aplosFund of aplosFunds">{{aplosFund.name}}</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td class="left">Account</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select select" required formControlName="reimbursementsAplosTransactionAccountNumber" aria-label="Account for reimbursements">
                    <option></option>
                    <option [value]="aplosAccount.id" *ngFor="let aplosAccount of aplosExpenseAccounts">{{aplosAccount | aplosAccount}}</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr *ngIf="settingsModel.syncTaxTagToPex">
              <td class="left">990 Tag Option</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select select clr-col-12" required formControlName="reimbursementsAplosTaxTag" aria-label="990 tag for reimbursements">
                    <option></option>
                    <optgroup *ngFor="let aplosTaxTagCategory of aplosTaxTagCategories" label="{{aplosTaxTagCategory.name}}">
                      <option [value]="aplosTaxTag.id" *ngFor="let aplosTaxTag of aplosTaxTagCategory.tax_tags">{{aplosTaxTag.name}} - {{aplosTaxTag.group_name}}</option>
                    </optgroup>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-2col table-no-top-margin">
          <caption class="caption-border">Reimbursement tags default values</caption>
          <tbody formArrayName="reimbursementTagMappings">
            <tr *ngFor="let tagMapping of getReimbursementTagMappingFormElements().controls; let i = index" [formGroupName]="i">
              <td class="left">{{tagMapping.get('aplosTagCategoryName')?.value}}</td>
              <td class="left">
                <div class="clr-select-wrapper">
                  <select class="clr-select" formControlName="defaultAplosTagValue">
                    <option value=""></option>
                    <option [value]="tagValue.id" *ngFor="let tagValue of getTagValuesForCategory(tagMapping.get('aplosTagCategoryId')?.value)">
                      {{tagValue.name}}
                    </option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </form>
  </clr-wizard-page>
</clr-wizard>
