.normalized-vendors {
  margin-top: 0.5em;
  margin-left: 2em;
}
.normalized-vendors-help {
  margin-left: 2.1em;
}
.single-vendor-help {
  margin-left: 2.1em;
}

.circle-list {
  list-style: circle;
  font-size: 13px;
}

.display-inline {
  display: inline;
}

.multi-line-toggle {
  height: unset;
}

.multi-line-toggle label {
  height: unset;
  white-space: normal;
  word-wrap: break-word;
}

.table {
  margin-top: 10px;
}

.table th {
  vertical-align: middle;
  padding: 10px;
}

.table h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.table td {
  vertical-align: middle;
  padding: 3px;
}

.table-no-top-margin {
  margin-top: -1px !important;
}

.caption-border {
  border: 1px solid #cccccc;
  margin-bottom: -1px;
  background-color: #fafafa;
  padding: 3px;
}
