<div class="clr-row" *ngIf="settings">
 <div class="clr-col clr-col-xl-8">
    <h4>Settings</h4>
    
    <table class="table table-vertical">
      <tbody>
        <tr><th>Sync Tags</th>
          <td>
            <clr-icon
              *ngIf="settings.syncTags"
              shape="success-standard"
              class="is-solid is-success"
            ></clr-icon>
            <clr-icon
              *ngIf="!settings.syncTags"
              shape="ban"
              class="is-solid is-error"
            ></clr-icon>
          </td>
        </tr>
        <tr><th>Sync Transactions</th>
        <td>
            <clr-icon
              *ngIf="settings.syncTransactions"
              shape="success-standard"
              class="is-solid is-success"
            ></clr-icon>
            <clr-icon
              *ngIf="!settings.syncTransactions"
              shape="ban"
              class="is-solid is-error"
            ></clr-icon>&nbsp;

            <span *ngIf="settings.syncTransactions && settings.syncApprovedOnly"
              >Approved</span
            >
            <span
              *ngIf="settings.syncTransactions && !settings.syncApprovedOnly"
              >All</span
            >
          </td>
        </tr>
        <tr><th>Sync Transfers</th>
          <td>
            <clr-icon
              *ngIf="settings.syncTransfers"
              shape="success-standard"
              class="is-solid is-success"
            ></clr-icon>
            <clr-icon
              *ngIf="!settings.syncTransfers"
              shape="ban"
              class="is-solid is-error"
            ></clr-icon>
          </td>
        </tr>
        <tr><th>Sync Fees</th>
          <td>
            <clr-icon
              *ngIf="settings.syncPexFees"
              shape="success-standard"
              class="is-solid is-success"
            ></clr-icon>
            <clr-icon
              *ngIf="!settings.syncPexFees"
              shape="ban"
              class="is-solid is-error"
            ></clr-icon>
          </td>
        </tr>        
        <tr>
          <th>Connected on</th>
          <td>{{settings.connectedOn | date:"yyyy-MM-dd hh:mm a" }}</td> 
        </tr>
        <tr>
          <th>Earliest transaction date</th>
          <td>{{settings.earliestTransactionDateToSync | date:"yyyy-MM-dd" }}</td>
        </tr>
        <tr>
         <th>Last sync</th>
          <td>
            <span *ngIf="!settings.lastSync">Never</span>
            <span *ngIf="settings.lastSync">
              {{settings.lastSync | date:"yyyy-MM-dd hh:mm a" }}
            </span>
          </td>
      </tr>
      </tbody>
    </table>

      <h4>Tag Mapping</h4>

      <div class="alert alert-warning" role="alert" *ngIf="!hasTagsAvailable">
          <div class="alert-items">
              <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                      <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                  </div>
                  <span class="alert-text">
                      Your PEX account does not support Tags. To have this feature enabled and better integrate with Aplos, please contact adminsupport@pexcard.com.
                  </span>
              </div>
          </div>
      </div>
     
      <table class="table" *ngIf="hasTagsAvailable">
        <thead>
          <tr>
            <th class="left">Aplos field</th>
            <th class="left">PEX Tag</th>
            <th class="left">Sync Tag options from Aplos</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td class="left">Fund</td>
            <td class="left">
                {{tagNameFund}}
            </td>
            <td>
              <clr-icon
                *ngIf="settings.syncTags && settings.syncFundsToPex"
                shape="success-standard"
                class="is-solid is-success"
              ></clr-icon>
              <clr-icon
                *ngIf="!(settings.syncTags && settings.syncFundsToPex)"
                shape="ban"
                class="is-solid is-error"
              ></clr-icon>
            </td>
          </tr>
          <tr>
            <td class="left">Account</td>
            <td class="left">
                {{tagNameAccount}} 
            </td>
            <td>
              <clr-icon
                *ngIf="settings.syncTags && settings.syncTransactionAccountsToPex"
                shape="success-standard"
                class="is-solid is-success"
              ></clr-icon>
              <clr-icon
                *ngIf="!(settings.syncTags && settings.syncTransactionAccountsToPex)"
                shape="ban"
                class="is-solid is-error"
              ></clr-icon>          
            </td>
          </tr>
          <tr *ngFor="let tagMapping of tagMappings">
            <td class="left">
              {{tagMapping.aplosTagId}}
            </td>
            <td class="left">
              {{tagMapping.pexTagId}}
            </td>
            <td>
              <clr-icon
                *ngIf="settings.syncTags && tagMapping.syncToPex"
                shape="success-standard"
                class="is-solid is-success"
              ></clr-icon>
              <clr-icon
                *ngIf="!(settings.syncTags && tagMapping.syncToPex)"
                shape="ban"
                class="is-solid is-error"
              ></clr-icon>          
            </td>
          </tr>
        </tbody>
      </table>



      <table class="table table-vertical" *ngIf="!hasTagsAvailable && settings.syncTransactions">
        <tr class="left">
          <th>Default Fund for purchases</th>
          <td>{{defaultFundName}}</td>
        </tr>
        <tr class="left">
          <th>Default Transaction account for purchases</th>
          <td>{{defaultTransactionAccountName}}</td>
        </tr>
      </table>

      <table class="table table-vertical" *ngIf="settings.syncTransfers || settings.syncPexFees">
        <tbody>
          <tr class="left" *ngIf="settings.syncTransfers && transferContact">
            <th>Contact for transfers</th>
            <td>{{transferContact.toDisplayFormat()}}</td>
          </tr>
          <tr class="left" *ngIf="settings.syncTransfers && transferFund">
            <th>Fund for transfers</th>
            <td>{{transferFund.toDisplayFormat()}}</td>
          </tr>
          <tr class="left" *ngIf="settings.syncTransfers && transferAccount">
            <th>Transaction account for transfers</th>
            <td>{{transferAccount.toDisplayFormat()}}</td>
          </tr>

          <tr class="left" *ngIf="settings.syncPexFees && feesContact">
            <th>Contact for fees</th>
            <td>{{feesContact.toDisplayFormat()}}</td>
          </tr>
          <tr class="left" *ngIf="settings.syncPexFees && feesFund">
            <th>Fund for fees</th>
            <td>{{feesFund.toDisplayFormat()}}</td>
          </tr>
          <tr class="left" *ngIf="settings.syncPexFees && feesAccount">
            <th>Transaction account for fees</th>
            <td>{{feesAccount.toDisplayFormat()}}</td>
          </tr>
        </tbody>
      </table>      

    <clr-modal [(clrModalOpen)]="disconnectModal">
      <h3 class="modal-title">Are you sure?</h3>
      <div class="modal-body">
          <p>Your data will no longer be synced.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="disconnectModal = false">No, Stay connected</button>
          <button type="button" class="btn btn-primary" (click)="onDisconnect()">Yes, Disconnect</button>
      </div>
  </clr-modal>
  <button
      type="button"
      [routerLink]="['/connect']"
      class="btn btn-icon btn-primary-outline"
      aria-label="edit"
    >
      <clr-icon shape="cog"></clr-icon> EDIT
    </button>
    <button type="button" class="btn btn-icon btn-danger-outline" aria-label="Disconnect" (click)="disconnectModal=true">
      <clr-icon shape="disconnect"></clr-icon> DISCONNECT
    </button>

