<h1>Connector Health</h1>

@if (loadingHealthData) {
  <clr-progress-bar clrLoop></clr-progress-bar>
}

@if (!loadingHealthData) {
  <div class="clr-row"><div class="clr-col">
    @if (pingSucceeded) {
      <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">Ping succeeded. Current time is: {{currentServerTime}}</span>
        </clr-alert-item>
      </clr-alert>
    }
    @if (!pingSucceeded) {
      <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">Ping failed.</span>
        </clr-alert-item>
      </clr-alert>
    }
    <hr>
      @if (healthResult && healthResult.AplosApiAvailable) {
        <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false">
          <clr-alert-item>
            <span class="alert-text">Aplos API is connected. Base URL: {{healthResult.aplosBaseUri}}.</span>
          </clr-alert-item>
        </clr-alert>
      }
      @if (healthResult && !healthResult.AplosApiAvailable) {
        <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">
          <clr-alert-item>
            <span class="alert-text">Aplos API is not available.</span>
          </clr-alert-item>
        </clr-alert>
      }
      <hr>
        @if (healthResult.pexApiAvailable) {
          <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">PEX API is connected. Base URL: {{healthResult.pexBaseUri}}</span>
            </clr-alert-item>
          </clr-alert>
        }
        @if (!healthResult.pexApiAvailable) {
          <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">PEX API is not available.</span>
            </clr-alert-item>
          </clr-alert>
        }
        <hr>
          @if (healthResult.storageAvailable) {
            <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false">
              <clr-alert-item>
                <span class="alert-text">Storage is healthy.</span>
              </clr-alert-item>
            </clr-alert>
          }
          @if (!healthResult.storageAvailable) {
            <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">
              <clr-alert-item>
                <span class="alert-text">Storage is not available.</span>
              </clr-alert-item>
            </clr-alert>
          }
        </div></div>
      }
