<div class="clr-row" *ngIf="loadingState">
    <div class="clr-col">
        <div class="progress loop"><progress></progress></div>
    </div>
</div>

<div *ngIf="errorState" class="alert alert-app-level alert-danger" style="margin-bottom:24px" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
            </div>
            <div class="alert-text">
                {{errorText}}
            </div>
            <div class="alert-actions" *ngIf="allowRetry">
                <button type="button" (click)="onRetry()" class="btn alert-action">Retry</button>
            </div>
        </div>
    </div>
</div>