/* clarity update fixes & changes - start */
header .header-nav::before,
.header .header-nav::before {
  display: none;
}
header .header-actions .nav-link::before,
.header .header-actions .nav-link::before {
  display: none;
}
header .settings > :not(.dropdown):before,
header .settings > .dropdown > .dropdown-toggle:before,
header .header-actions > :not(.dropdown):before,
header .header-actions > .dropdown > .dropdown-toggle:before,
.header .settings > :not(.dropdown):before,
.header .settings > .dropdown > .dropdown-toggle:before,
.header .header-actions > :not(.dropdown):before,
.header .header-actions > .dropdown > .dropdown-toggle:before {
  display: none;
}
.nav-link.active {
  background-color: hsla(0, 0%, 100%, 0.15) !important;
}
a:not(.btn, .nav-link, .dropdown-item, .label, .alert-action, .badge, .clr-treenode-link) {
  color: var(--clr-link-color) !important;
  font-size: unset !important;
}
a:not(.btn, .nav-link, .dropdown-item, .label, .alert-action, .badge, .clr-treenode-link):visited {
  color: var(--clr-link-color) !important;
  font-size: unset !important;
}
.focus-fix :focus:not(.focus-visible) {
  outline: none;
}
/* clarity update fixes & changes - end */

.pex-color {
  color: #249ce0;
}
.same-line {
  display: flex;
  flex-direction: row;
}
.h-centered {
  text-align: center;
}
.v-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.no-margins {
  margin: 0;
}
.page-status {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.page-status > clr-icon {
  margin: 0.5em;
}
.page-status > clr-spinner {
  margin: 0.5em;
}

.bald {
  margin-top: 0;
}
