<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a [routerLink]="['/connect']" class="nav-link" style="color:white;">
        <img src="../assets/Logo-Standard.png" alt="PEX Web Application" style="padding-right: 10px; max-width: 100%; max-height: 100%" />
        <cds-icon shape="two-way-arrows"></cds-icon>
        <img
          src="../assets/Aplos-Logo-White.png"
          alt="Aplos Logo"
          style="max-width:100%; max-height:100%"
        />
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['connect']"
         routerLinkActive="active"
         class="nav-link">
        <span class="nav-text">Connect</span>
      </a>

      <a *ngIf="isLoggedIn"
         [routerLink]="['sync-manage']"
         routerLinkActive="active"
         class="nav-link">
          <span class="nav-text">Manage sync</span>
      </a>

      <a *ngIf="isLoggedIn"
        [routerLink]="['sync-history']"
        routerLinkActive="active"
        class="nav-link">
        <span class="nav-text">History</span>
      </a>

      <a *ngIf="isLoggedIn"
         [routerLink]="['vendors-manage']"
         routerLinkActive="active"
         class="nav-link">
        <span class="nav-text">Manage vendor cards</span>
      </a>

    </div>
    <div class="header-actions">
      <a *ngIf="!isLoggedIn"
         [routerLink]="['/authenticate-with-pex']"
         routerLinkActive="active"
         class="nav-link">
        <span class="nav-text">Authenticate with PEX</span>
      </a>

      <a (click)="onLogout()" class="nav-link">
      <span *ngIf="isLoggedIn" class="nav-text" style="cursor: pointer">Logout</span>
      </a>
      <a *ngIf="isPrepaid" href="https://support.pexcard.com/s/article?name=000002012-PEX-Connector-for-Aplos" class="nav-link nav-icon" aria-label="help">
        <cds-icon shape="help"></cds-icon>
      </a>
      <a *ngIf="isCredit" href="https://support.pexcard.com/s/article?name=000003270-PEX-Connector-for-Aplos-Credit" class="nav-link nav-icon" aria-label="help">
        <cds-icon shape="help"></cds-icon>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
