<p>
    In order to create a connection between PEX and Aplos, you must first
    authenticate using your PEX log in credentials. Click the button
    below to launch a PEX login window and enter your PEX username &amp; password.
  </p>

  <button class="btn btn-primary" (click)="onAuthenticateWithPex()">
    LOG IN TO YOUR PEX ACCOUNT
  </button>

  <p>
    If you do not currently have a PEX account, click the button below to
    apply.
  </p>
  <button class="btn btn-success" (click)="onApply()">
    APPLY FOR A PEX ACCOUNT
  </button>