<h1>Connect to Aplos</h1>
<div *ngIf="!isReady" class="page-status">
  <clr-spinner [clrMedium]="true"></clr-spinner>
  <span>Loading...</span>
</div>
<ng-container *ngIf="isReady">
  <p>
    Please select all use cases you would like to integrate PEX and Aplos.
  </p>
  <div class="alert alert-info" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <span class="alert-text">
          We recommend selecting all use cases for an optimal expense and reconciliation experience.
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isReady" class="clr-row">
    <div class="clr-col-6 left-col">
      <div class="card clickable selector" [routerLink]="[vendorCardsRoute]">
        <div class="card-block">
          <div class="card-img selector-img">
            <clr-icon shape="credit-card" size="96" class="pex-color"></clr-icon>
          </div>
          <div class="card-text">
            Auto create vendor cards from my Aplos vendor list
          </div>
          <div class="rebate-line rebate-line-background">Earn 1% rebates on all eligible Vendor card payments</div>
        </div>
        <clr-icon *ngIf="connectionDetails?.aplosConnection && connectionDetails?.vendorsSetup" shape="success-standard" size="32" class="is-solid is-success selector-badge"></clr-icon>
      </div>
    </div>
    <div class="clr-col-6 right-col">
      <div class="card clickable selector" [routerLink]="[syncingRoute]">
        <div class="card-block">
          <div class="card-img selector-img">
            <clr-icon shape="sync" size="96" class="pex-color"></clr-icon>
          </div>
          <div class="card-text">
            Sync transactions from PEX to Aplos nightly
          </div>
          <div class="rebate-line"></div>
        </div>
        <clr-icon *ngIf="connectionDetails?.aplosConnection && connectionDetails?.syncingSetup" shape="success-standard" size="32" class="is-solid is-success selector-badge"></clr-icon>
      </div>
    </div>
  </div>
</ng-container>